<div class="header indent1">
  <h2>Supplementary Data Information</h2>
</div>
<div class="clearfix indent1 info-block"> 
  <div class="box-label">Extra data : </div>
  <div class="box">
    <%= supplementary_data.information%>
  </div>
  <div class="clear"></div>
</div> 
