<div class="header indent1">
  <h2>Supplementary Data Information</h2>
</div>
<div class="user_information">
  <%= render :partial => 'reports/information/user_information', :locals => { :info => supplementary_data } %>
</div>
