<!--<div class="created">
  <strong>Created on </strong><%#= info.created_at.strftime('%d of %B, %Y') %> by 
  <em><%#= info.created_by.username %></em>
</div> 
<div class="updated">
  <strong>Updated on</strong> <%#= info.updated_at.strftime('%d of %B, %Y') %> by 
  <em><%#= info.updated_by.username %></em>
</div>
-->

