<div class="header indent3">
  <h2>Status Information</h2>
</div>
<div>
  <%= f.fields_for :status_report do |sr| %>
    <div class="clearfix">
      <%= sr.label :status_id %> 
      <% Status.all.each do |status| %>
        <div class="input input-prepend clearfix">  
          <div class="add-on">
            <%= sr.radio_button :status_id, status.id, :rel => 'status' %> 
          </div>
          <label class="prependedLabel span2"> <%= status.name %> </label>  
        </div>
      <% end %>  
    </div>
  <% end %>
</div>  
